<h1>Restaurants edit</h1>



<%= form_with model: @restaurant do |form| %>
<div class = "col-lg-8">
<%= form.label :name %><br>
<%= form.text_field :name %> <br>
</div>
<%= form.label :place %> <br>
<%= form.text_field :place %><br>

<%= form.submit %>
<% end %>






<%# <%= render 'createdish' %> 