<h2>    Dish </h2>

<%= form_with model: @dish do |form| %>

<%= form.label :Dishname  %> <br>
<%= form.text_field :name %><br>

<%= form.label :DishPrice %> <br>
<%= form.text_field :price %><br>


 <p>Restaurant: <%= form.select :restaurant_id, Restaurant.all.map { |restaurant| [ restaurant.name,restaurant.id ] } %></p>

<%= form.submit %>
<% end %>