<h1> Restaurant </h1>


<p> <strong> Restaurant Name :</strong> <%= @restaurant.name %> </p>
<p> <strong> Restaurant Address :</strong> <%= @restaurant.place %> </p>
 
<br>
<%= link_to "Back" , restaurants_path , class:"btn btn-secondary btn-sm" %>

  <h1> Dishes </h1>
 <table  class="table table-dark table-hover">
    <thead>
      <tr>
        <th> Menu</th>
        <th>price</th>
      </tr>
    </thead>
    <% @restaurant.dishes.each do |dish| %>
    <tbody>
      <tr>
        <td> <%= dish.menu %></td>
        <td><%= dish.price %></td>
        </tr>
      </tbody>
      <% end %>
  </table>

  <h1> Reviews </h1>
  <table  class="table table-dark table-hover">
    <thead>
      <tr>
        <th> Menu</th>
        <th>price</th>
      </tr>
    </thead>
    <% @restaurant.reviews.each do |review| %>
    <tbody>
      <tr>
        <td> <%= review.comment %></td>
        <td><%= review.rating %></td>
        </tr>
      </tbody>
      <% end %>
  </table>

