<h1> All Reviews </h1>

<%= link_to "create" ,  new_review_path %>

<table class="table table-hover">
    <thead>
      <tr>
        <th>Comment</th>
        <th>Rating</th>
        <%# <th> ID </th> %>
        <th>Action</th>
        <th>Action</th>
        <th>Action</th>
      </tr>
    </thead>
     <% @reviews.each do |review| %>
    <tbody>
      <tr>
        <td><%= review.comment %></td>
        <td><%= review.rating %></td>
        
        <td><%= link_to "show" , review ,class:"btn btn-primary" %></td>
        <td><%= link_to "edit" , edit_review_path(review), class:"btn btn-warning" %></td>
        <td><%= button_to 'delete' , review ,method: :delete ,class:"btn btn-danger" %></td>
      </tr>
    </tbody>
    <% end %>
  </table>















 