<h2>     New Reviews </h2>

<%= form_with model: @review do |form| %>

<%= form.label :Comment   %> <br>
<%= form.text_field :comment %><br>

<%= form.label :Rating %> <br>
<%= form.text_field :rating %><br>
<p>Restaurant: <%= form.select :restaurant_id, Restaurant.all.map { |restaurant| [ restaurant.name,restaurant.id ] } %></p>

<p>Dish: <%= form.select :reviewable_id, Dish.all.map { |dish| [dish.menu,dish.id ] } %></p>



<%= form.submit %>
<% end %>

<br>
<%= link_to "Back" , reviews_path , class:"btn btn-secondary btn-sm" %>
